.place__title {
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.05;
    font-family: "Inter", Arial, sans-serif;
}
@media screen and (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 1.09;
    }
}
@media screen and (max-width: 582px) {
    .place__title {
        max-width: 550px;
        margin: auto;
    }
}
@media screen and (max-width: 425px) {
    .place__title {
        max-width: 393px;
        font-size: 32px;
        margin-bottom: 32px;
        
    }
}
@media screen and (max-width: 320px) {
    .place__title {
        max-width: 288px; 
        max-height: 35px
        }
}