.places {
    max-width: 984px;
    margin: 0 auto;
    margin-top: 92px;
    
}
@media screen and (max-width: 1024px) {
    .places {
        max-width: 928px;
    }
}
@media screen and (max-width: 768px) {
    .places {
        max-width: 720px;
    }
}
@media screen and (max-width: 582px) {
    .places {
        margin-top: 64px;
        max-width: 582px;
    }
}
@media screen and (max-width: 425px) {
    .places {
        max-width: 425px;
    }
}
@media screen and (max-width: 320px) {
    .places {
        max-width: 100%;
    }
}