.lead__title {
    margin: 0 auto;
    margin-top: 56px;
    text-align: center;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    max-width: 720px;
    font-family: "Inter", Arial, sans-serif;
}
@media screen and (max-width: 768px) {
    .lead__title {
        margin-top: 48px;
    }
}
@media screen and (max-width: 674px) {
    .lead__title {
        font-size: 55px;

    }
}
@media screen and (max-width: 425px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 1.1;

    }
}