.place__paragraph {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    font-family: "Inter", Arial, sans-serif;
}

.place__paragraph:first-child {
    padding-bottom: 26px;
}
.place__paragraph:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
    }
}
@media screen and (max-width: 582px) {
    .place__paragraph {
        max-width: 550px;
        margin: auto;
    }
}
@media screen and (max-width: 425px) {
    .place__paragraph {
        max-width: 393px;
    }
    .place__paragraph:first-child {
        padding-bottom: 25px;
    }
    .place__paragraph:last-child {
        padding-bottom: 0;
    }
}   
@media screen and (max-width: 320px) {
    .place__paragraph {
        max-width: 288px;
    }
}