.footer__copyright {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    
}
@media screen and (max-width: 425px) {
    .footer__copyright {
        line-height: 1;
        margin-bottom: 24px;

    }
}
@media screen and (max-width: 320px) {
    .footer__copyright {
        line-height: 1;
        margin-bottom: 24px;

    }
}