.place__website {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
@media screen and (max-width: 582px) {
    .place__website {
        margin: auto;
        max-width: 550px;
        margin-top: 32px;
    }
}
@media screen and (max-width: 425px) {
    .place__website {
        max-width: 393px;
    }
}
@media screen and (max-width: 320px) {
    .place__website {
        max-width: 288px;
    }
}